
<div class="footer">

  <h2 class="foot"><a href="https://opdracht-vijf-app.herokuapp.com/" target="_blank">✨ mijn online app ✨</a><h2>
    <img class="logopng" src="/img/logo.png"/>

</div>




  <script src="/js/template.js"></script>
  </body>
</html>
