<!doctype html>
<html>
	<head>
		<title>femfem</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<img src="/img/logo.jpg"/>

		<nav>

			<a href="/">Home</a>
		  <% for (var i = 0; i < categorieen.length; i++) { %>
		    <a href="/categorieen/<%- i %>"><%- categorieen[i] %> </a>
		  <% } %>

		</nav>
